<footer class="footer">
  <small>
    The <a href="https://dazzling-badlands-70769.herokuapp.com/">Sampan App</a>
    by <a href="https://dazzling-badlands-70769.herokuapp.com/">Systrob</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://dazzling-badlands-70769.herokuapp.com/">News</a></li>
    </ul>
  </nav>
</footer>
